/* CLOCK STYLE SHEET */
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    background-color:steelblue;
    color:white;
}

p {
    color: black;
    margin: 0 auto;
}

.countdown-div {
    height:20rem;
    width:39rem;
    background-color: white;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    position: absolute;
}