/* CLOCK STYLE SHEET */
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    background-color:steelblue;
    color:white;
}

.countdown-div {
    height:20rem;
    width:39rem;
    background-color: white;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    margin: auto;
}

.container-for-content {
    display:flex;
    justify-content: center;
    margin:auto;
}

.card {
    background-color: white;
    border-radius:5px;
    color: black;
    font-size: 190px;
    margin:0 auto;
    max-width:800px;
    padding:30px 40px;
    min-height:300px;
    text-align: center;
    vertical-align:middle;
}

.card p {
    color: black;
    margin: auto;
}